<div class="container ">
 <div class= " mt-4">
  <h3>Post #<%= post.id %></h3>
 </div>
<div class="truncate">
 <%= post.text%>
</div>
  <div>
   Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%>
  </div>
</div>