// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.truncate {
  white-space: nowrap;
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}
